body{
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
}
html{
	color: #FFF;
	font-family: 'Open Sans', Segoe UI light, Tahoma,Helvetica,sans-serif;
	font-size: 13px;
	height: 100%;
}
hr { 
	display: block;
    border-top: 4px solid #2d2d2d;
    position: fixed;
    width: 100%;
    padding: 0; 
    margin: 0px 0;

}
#tile-section{
	min-height: 724px;
	width: 625px;
	margin: auto;
}
#tile-one {
	display: block;
	position: relative;
	top: 40px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(http://i.imgur.com/76v7fpS.png);
}
#tile-two {
	display: block;
	position: relative;
	top: 250px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(http://i.imgur.com/6KnVt2T.png);
}
#tile-three {
	display: block;
	position: relative;
	top: 80px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(http://i.imgur.com/MOkxIYw.png);
}
#tile-four {
	position: relative;
	top: 160px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(http://i.imgur.com/8039qLR.png);
}

#title{
	color: #2d2d2d;
	font-size: 30px;
	min-height: 764px;
	text-align: center;
}
nav {
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   border-top: 2px solid #2d2d2d;
   background-color: white;
}
#nav {
	font-size: 14px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
#nav li {
	display:inline;
	border-right: 1px solid black;
}
#nav li a {
	display:inline-block;
    padding:10px;
	text-decoration: none;
	color: black;
}
#myModal {
    height: 560px;
}
.Tile1Popover {
	opacity:.9;
	top: 160px!important;
	width: 475px!important;
	height: 310px!important;
	display: block!important;
}
.Tile2Popover {
	opacity:.9;
	top: 248px!important;
	width: 450px!important;
	height: 300px!important;
	display: block!important;

}
.Tile3Popover {
	opacity:.9;
	top: 200px!important;
	left: 480px!important;
	width: 515px!important;
	height: 300px!important;
	display: block!important;
}
.Tile4Popover {
	opacity:.9;
	top: 305px!important;
	left: 665px!important;
	width: 450px!important;
	height: 300px!important;
	display: block!important;

}